{% extends "_global/index.html" %}

{% block main %}
<a class="btn btn-outline-secondary ml-3" href="{{ BASE }}usluge">
    <i class="fa fa-list"></i> Prikaži listu usluga
</a>

<div class="container mt-3">
    <form method="post" class="card p-3 bg-light" onsubmit="return validateUslugeForms();">
        <div class="form-group row">
            <label class="col-sm-4 col-lg-2 col-form-label" for="naziv">Naziv: </label>
            <div class="col-sm-5">
                <input class="form-control" type="text" required name="naziv" id="naziv" placeholder="Unesite naziv" pattern=".*[^\s]{3,}.*" oninvalid="this.setCustomValidity('Naziv mora sadržati najmanje 3 vidljiva karaktera.')"
                oninput="this.setCustomValidity('')">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-lg-2  col-form-label" for="opis">Opis: </label>
            <div class="col-sm-5">
                <textarea class="form-control" rows="4" cols="50" name="opis" id="opis"
                    placeholder="Unesite opis" oninvalid="this.setCustomValidity('Opis mora sadržati najmanje 5 vidljivih karaktera.')"
                    oninput="this.setCustomValidity('')" required></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-lg-2   col-form-label" for="kataloski_broj">Kataloški broj: </label>
            <div class="col-sm-5">
                <input class="form-control" type="number" step="1" min="1000" max="9999999999" required name="kataloski_broj"
                    id="kataloski_broj" placeholder="Unesite kataloški broj" oninvalid="this.setCustomValidity('Kataloški broj se mora sastojati od brojeva dužine 4 do 10.')"
                    oninput="this.setCustomValidity('')">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-lg-2  col-form-label" for="tip_usluge">Tip usluge: </label>
            <div class="col-sm-5">
                <select class="custom-select " name="tip_usluge" id="tip_usluge" required oninvalid="this.setCustomValidity('Morate izabrati tip usluge')"
                oninput="this.setCustomValidity('')">
                    <option value="" selected disabled hidden>Izaberite tip usluge</option>
                    {% for usluga in tip_usluge %}
                    <option value="{{usluga.tip_usluge_id|escape}}">{{usluga.naziv_tipa|escape}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-12 col-lg-8 col-form-label text-center ">Cena usluge po kategoriji pacijenta: </label>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-lg-2 col-form-label" for="cena_dete">Dete: </label>
            <div class="col-sm-5">
                <input class="form-control" type="number" step="0.01" min="10" max="99999999" required name="cena_dete"
                    id="cena_dete" placeholder="Unesite cenu" oninvalid="this.setCustomValidity('Cena mora imati minimum 2 celobrojne cifre, a maksimum 10 cifara uključujući decimale.')"
                    oninput="this.setCustomValidity('')">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-lg-2  col-form-label" for="cena_penzioner">Penzioner: </label>
            <div class="col-sm-5">
                <input class="form-control" type="number" step="0.01" min="10" max="99999999" required
                    name="cena_penzioner" id="cena_penzioner" placeholder="Unesite cenu" oninvalid="this.setCustomValidity('Cena mora imati minimum 2 celobrojne cifre, a maksimum 10 cifara uključujući decimale.')"
                    oninput="this.setCustomValidity('')">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-4 col-lg-2  col-form-label" for="cena_ostali">Ostali: </label>
            <div class="col-sm-5">
                <input class="form-control" type="number" step="0.01" min="10" max="99999999" required
                    name="cena_ostali" id="cena_ostali" placeholder="Unesite cenu" oninvalid="this.setCustomValidity('Cena mora imati minimum 2 celobrojne cifre, a maksimum 10 cifara uključujući decimale.')"
                    oninput="this.setCustomValidity('')">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5">
                <button class="btn btn-success btn-block" type="submit">Dodaj</button>
            </div>
        </div>
        <div class="alert alert-warning d-none mt-2" id="error-message"></div>
    </form>
</div>
{% endblock %}

{% block naslov %}
Dodavanje usluga
{% endblock %}

{% block script %}
<script src="{{BASE}}assets/js/validateForms.js"></script>
{% endblock %}