{% extends "_global/index.html" %}

{% block main %}
<div class="btn-group ml-3">
  <a class="btn btn-outline-primary mr-3" href="{{ BASE }}usluge/dodaj">
    <i class="fa fa-plus-circle"></i> Dodaj novu uslugu
  </a>
  <a class="btn btn-outline-secondary" href="{{ BASE }}usluge">
    <i class="fa fa-list"></i> Prikaži listu usluga
  </a>
</div>
<div class="container mt-3">
  <form method="post" class="card p-3 bg-light" onsubmit="return validateUslugeForms();">
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label" for="naziv">Naziv usluge: </label>
      <div class="col-sm-5">
        <input class="form-control" type="text" required name="naziv" id="naziv" value="{{ usluga.naziv|escape }}" pattern=".*[^\s]{3,}.*" oninvalid="this.setCustomValidity('Naziv mora sadržati najmanje 3 vidljiva karaktera.')"
        oninput="this.setCustomValidity('')">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2  col-form-label" for="opis">Opis: </label>
      <div class="col-sm-5">
        <textarea class="form-control rounded" rows="4" cols="50" name="opis"
          id="opis" oninvalid="this.setCustomValidity('Opis mora sadržati najmanje 5 vidljivih karaktera.')"
          oninput="this.setCustomValidity('')" required >{{usluga.opis|escape}}</textarea>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label" for="kataloski_broj">Kataloški broj:</label>
      <div class="col-sm-5">
        <input class="form-control" type="number" required name="kataloski_broj" id="kataloski_broj"
          value="{{ usluga.kataloski_broj|escape }}" step="1" min="1000" max="9999999999" oninvalid="this.setCustomValidity('Kataloški broj se mora sastojati od brojeva dužine 4 do 10.')"
          oninput="this.setCustomValidity('')">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2 col-form-label" for="tip_usluge">Tip usluge: </label>
      <div class="col-sm-5">
        <select class="custom-select" name="tip_usluge" id="tip_usluge" oninvalid="this.setCustomValidity('Morate izabrati tip usluge')"
        oninput="this.setCustomValidity('')">
          {% for tip in tipoviUsluga %}
          {% if tip.tip_usluge_id == usluga.tip_usluge_id %}
          <option value="{{tip.tip_usluge_id|escape}}" selected hidden>{{tip.naziv_tipa|escape}}</option>
          {% endif %}
          {% endfor %}
          {% for tip in tipoviUsluga %}
          <option value="{{tip.tip_usluge_id|escape}}">{{tip.naziv_tipa|escape}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2  col-form-label">Kategorija pacijenta: </label>
      <div class="col-sm-5">
        <select class="custom-select" name="kategorija_pacijenta" id="kategorija_pacijenta" size="3" required>
          {% for kategorija in cenePoKategoriji %}
          <option value="{{kategorija.kategorija_pacijenta_id|escape}}" {% if kategorija.kategorija_pacijenta_id == 1 %}
            selected{% endif %}>{{kategorija.naziv|escape}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-4 col-lg-2  col-form-label" for="cena">Cena:</label>
      <div class="col-sm-5">
        <input class="form-control" type="number" step="0.01" min="10" max="99999999" required name="cena" id="cena"
          value={{cenePoKategoriji[0].cena|escape}} oninvalid="this.setCustomValidity('Cena mora imati minimum 2 celobrojne cifre, a maksimum 10 cifara uključujući decimale.')"
          oninput="this.setCustomValidity('')">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-4 offset-lg-2 col-12">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary form-control {% if usluga.is_visible == 1 %} active {% endif %}">
            <input class="form-control" type="radio" name="is_visible" id="prikaži" value="1"
              {% if usluga.is_visible == 1 %} checked="checked" {% endif %}> Prikaži
          </label>
          <label class="btn btn-secondary {% if usluga.is_visible == 0 %} active {% endif %}">
            <input class="form-control" type="radio" name="is_visible" id="sakrij" value="0"
              {% if usluga.is_visible == 0 %} checked="checked" {% endif %}> Sakrij
          </label>
        </div>
      </div>
    </div>
    <div class="btn-group mx-auto">
      <button class="btn btn-success form-control mr-3" type="submit">Potvrdi</button>
      <a class="btn btn-danger form-control" href="{{ BASE }}usluge">Nazad</a>
    </div>
    <div class="alert alert-warning d-none mt-2" id="error-message"></div>

  </form>
</div>
{% endblock %}

{% block naslov %}
Izmena usluge
{% endblock %}

{% block script %}
<script>
  function selectKategorija() {
    switch ($('#kategorija_pacijenta').val()) {
      case '{{cenePoKategoriji[0].kategorija_pacijenta_id|escape}}':
        $('#cena').val('{{cenePoKategoriji[0].cena|escape}}');
        break;
      case '{{cenePoKategoriji[1].kategorija_pacijenta_id|escape}}':
        $('#cena').val('{{cenePoKategoriji[1].cena|escape}}');
        break;
      case '{{cenePoKategoriji[2].kategorija_pacijenta_id|escape}}':
        $('#cena').val('{{cenePoKategoriji[2].cena|escape}}');
        break;
      default:
        $('#cena').val('');
        break;
    }
  }
  $('#kategorija_pacijenta').change(selectKategorija);
</script>
<script src="{{BASE}}assets/js/validateForms.js"></script>
{% endblock %}