{% extends "_global/index.html" %}

{% block main %}
    <div class="text-center">
        {{ message|escape }}
        <p>Kliknite <a href="{{ BASE }}usluge/izmeni/{{usluga_id}}">ovde</a> za povratak na izmenu ove usluge.</p>
    </div>
{% endblock %}

{% block naslov %}
Izmena usluge
{% endblock %}