{% extends "_global/index.html" %}

{% block main %}
    <div class="text-center">
        {{ message|escape }}
        <p>Kliknite <a href="{{ BASE }}usluge/dodaj">ovde</a> za povratak na dodavanje usluge.</p>
    </div>
{% endblock %}

{% block naslov %}
Izmena usluge
{% endblock %}