{% extends "_global/index.html" %}

{% block main %}
<a class="btn btn-outline-primary mb-3" href="{{ BASE }}usluge/dodaj" >
  <i class="fa fa-plus-circle"></i> Dodaj novu uslugu
</a>

    {% for usluga in usluge %}
    <div class="accordion" id="accordionExample{{usluga.usluga_id}}">
        <div class="card">
          <div class="card-header" id="heading{{usluga.usluga_id}}">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{usluga.usluga_id}}" aria-expanded="true" aria-controls="collapse{{usluga.usluga_id}}">
                {{ usluga.naziv|escape }}
              </button>
              {% if usluga.is_visible == 0%}
              <i class="fa fa-eye-slash float-right"></i>
              {% endif %}
            </h2>
          </div>
      
          <div id="collapse{{usluga.usluga_id}}" class="collapse" aria-labelledby="heading{{usluga.usluga_id}}" data-parent="#accordionExample{{usluga.usluga_id}}">
            <div class="card-body row">
              <div class="col-lg-6 col-sm-4">
                <p class="card-text">Opis: {{ usluga.opis|escape }}</p>
                <p class="card-text">Tip: {{ usluga.naziv_tipa|escape }}</p>
                <p class="card-text text-muted ">Kataloški broj: {{ usluga.kataloski_broj|escape }}</p>
                <a class="btn btn-primary mb-2" href="{{ BASE }}usluge/izmeni/{{ usluga.usluga_id }}"><i class="fa fa-pencil"></i> Izmeni</a>
              </div>
              <div class="col-lg-6 col-sm-8">
                  <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th scope="col">Kategorija pacijenta</th>
                          <th scope="col">Cena</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{ usluga.cene[0].naziv|escape}}</td>
                          <td>{{ usluga.cene[0].cena|escape }} rsd</td>
                        </tr>
                        <tr>
                          <td>{{ usluga.cene[1].naziv|escape}}</td>
                          <td>{{ usluga.cene[1].cena|escape }} rsd</td>
                        </tr>
                        <tr>
                          <td>{{ usluga.cene[2].naziv|escape}}</td>
                          <td>{{ usluga.cene[2].cena|escape }} rsd</td>
                        </tr>
                      </tbody>
                    </table>
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block naslov %}
Spisak usluga
{% endblock %}