{% extends "_global/index.html" %}

{% block main %}
<a class="btn btn-outline-secondary ml-3" href="{{ BASE }}pacijenti">
  <i class="fa fa-list"></i>  Prikaži listu pacijenata
</a>

<div class="container mt-3">
    <form method="post" class="card p-3 bg-light" onsubmit="return validatePacijentiForms()">
        <div class="form-group row">
        <label for="ime" class="col-sm-5 col-lg-3 col-form-label">Ime: </label>
            <div class="col-sm-5">
        <input class="form-control" type="text" required name="ime" id="ime" placeholder="Unesite ime" pattern=".*[^\s]{3,}.*" oninvalid="this.setCustomValidity('Ime mora sadržati najmanje 3 vidljiva karaktera.')"
        oninput="this.setCustomValidity('')">
        </div>
        </div>
        <div class="form-group row">
        <label for="prezime" class="col-sm-5 col-lg-3 col-form-label">Prezime: </label>
            <div class="col-sm-5">
        <input class="form-control" type="text" required name="prezime" id="prezime" placeholder="Unesite prezime" pattern=".*[^\s]{3,}.*" oninvalid="this.setCustomValidity('Prezime mora sadržati najmanje 3 vidljiva karaktera.')"
        oninput="this.setCustomValidity('')">
        </div>
        </div>
        <div class="form-group row">
            <label for="adresa" class="col-sm-5 col-lg-3 col-form-label">Adresa: </label>
            <div class=" col-sm-5">
        <input class="form-control" type="text" required name="adresa" id="adresa" placeholder="Unesite adresu" oninvalid="this.setCustomValidity('Adresa mora sadržati najmanje 2, a najviše 150 karaktera.')"
        oninput="this.setCustomValidity('')">
        </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-5 col-lg-3 col-form-label" for="born_at">Datum rođenja: </label>
            <div class="col-sm-5">
        <input class="form-control" type="date" required name="born_at" id="born_at" oninvalid="this.setCustomValidity('Unesite realan datum rođenja.')"
        oninput="this.setCustomValidity('')">
        </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-5 col-lg-3 col-form-label" for="telefon">Telefon: </label>
            <div class="col-sm-5">
        <input  class="form-control" type="text" required name="telefon" id="telefon" placeholder="+64123456789" pattern="^\+[0-9]{6,24}$" oninvalid="this.setCustomValidity('Telefonski broj mora da pocinje sa + iza kojeg sledi od 6 do 24 cifara.')"
        oninput="this.setCustomValidity('')">
        </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-5 col-lg-3 col-form-label">Kategorija pacijenta: </label>
            <div class="col-sm-5">
        <select class="custom-select" name="kategorija_pacijenta" id="kategorija_pacijenta" required oninvalid="this.setCustomValidity('Morate izabrati kategoriju pacijenta.')"
        oninput="this.setCustomValidity('')">
            <option value="" selected disabled hidden>Izaberite kategoriju pacijenta</option>
            {% for kategorija in kategorije %}
            <option value="{{kategorija.kategorija_pacijenta_id|escape}}">{{kategorija.naziv|escape}}</option>
            {% endfor %}
        </select>
            </div>
        </div>
            <div class="form-group row">
                <div class="col-sm-5 mt-3 mx-auto">
        <button class="btn btn-success btn-block" type="submit">Dodaj</button>
            </div>
            </div>
            <div class="alert alert-warning d-none mt-2" id="error-message"></div>
    </form>
</div>
{% endblock %}

{% block naslov %}
Dodavanje pacijenta
{% endblock %}

{% block script %}
<script src="{{BASE}}assets/js/validateForms.js"></script>
{% endblock %}