{% extends "_global/index.html" %}

{% block main %}
<div class="btn-group ml-3">
<a class="btn btn-outline-primary mr-3" href="{{ BASE }}pacijenti/dodaj">
    <i class="fa fa-plus-circle"></i> Dodaj novog pacijenata
</a>
<a class="btn btn-outline-secondary" href="{{ BASE }}pacijenti">
    <i class="fa fa-list"></i> Prikaži listu pacijenata
</a>
</div>
<div class="container mt-3">
    <form method="post" class="card p-3 bg-light" onsubmit="return validatePacijentiForms()">
        <div class="form-group row">
        <label class="col-sm-5 ol-md-4 col-lg-3 col-form-label" for="ime">Ime: </label>
            <div class="col-sm-5">
        <input class="form-control" type="text" required name="ime" id="ime" value="{{pacijent.ime|escape}}" pattern=".*[^\s]{3,}.*" oninvalid="this.setCustomValidity('Ime mora sadržati najmanje 3 vidljiva karaktera.')"
        oninput="this.setCustomValidity('')" >
        </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-5 ol-md-4 col-lg-3 col-form-label" for="prezime">Prezime: </label>
            <div class="col-sm-5">
        <input class="form-control" type="text" required name="prezime" id="prezime" value="{{pacijent.prezime|escape}}" pattern=".*[^\s]{3,}.*" oninvalid="this.setCustomValidity('Prezime mora sadržati najmanje 3 vidljiva karaktera.')"
        oninput="this.setCustomValidity('')">
            </div>
        </div>
        <div class="form-group row">
                <label class="col-sm-5 ol-md-4 col-lg-3 col-form-label" for="adresa">Adresa: </label>
            <div class="col-sm-5">
        <textarea class="form-control" rows="4" cols="50" required name="adresa" id="adresa" oninvalid="this.setCustomValidity('Adresa mora sadržati najmanje 2, a najviše 150 karaktera.')"
        oninput="this.setCustomValidity('')">{{pacijent.adresa|escape}}</textarea>
            </div>
            </div>
        <div class="form-group row">
             <label class="col-sm-5 ol-md-4 col-lg-3 col-form-label" for="born_at">Datum rođenja: </label>
            <div class="col-sm-5">
            <input class="form-control" type="date" required name="born_at" id="born_at" value="{{pacijent.born_at|escape}}" oninvalid="this.setCustomValidity('Unesite realan datum rođenja.')"
            oninput="this.setCustomValidity('')">
        </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-5 ol-md-4 col-lg-3 col-form-label" for="telefon">Telefon: </label>
        <div class="col-sm-5">
            <input class="form-control" type="text" required name="telefon" id="telefon" value="{{pacijent.telefon|escape}}" pattern="^\+[0-9]{6,24}$" oninvalid="this.setCustomValidity('Telefonski broj mora da pocinje sa + iza kojeg sledi od 6 do 24 cifara.')"
            oninput="this.setCustomValidity('')">
        </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-5 col-lg-3 col-form-label" for="kategorija_pacijenta">Kategorija pacijenta: </label>
        <div class="col-sm-5">
        <select class="custom-select" name="kategorija_pacijenta" id="kategorija_pacijenta" oninvalid="this.setCustomValidity('Morate izabrati kategoriju pacijenta.')"
        oninput="this.setCustomValidity('')">
            {% for kategorija in kategorije %}
            {% if kategorija.kategorija_pacijenta_id == pacijent.kategorija_pacijenta_id %}
            <option value="{{kategorija.kategorija_pacijenta_id|escape}}" selected hidden>{{kategorija.naziv|escape}}</option>
            {% endif %}
            {% endfor %}
            {% for kategorija in kategorije %}
            <option value="{{kategorija.kategorija_pacijenta_id|escape}}">{{kategorija.naziv|escape}}</option>
            {% endfor %}
        </select>
        </div>
        </div>
        <div class="form-group row">
        <label class="col-sm-5 col-lg-3 col-form-label">Aktivnost pacijenta: </label>
        <div class="btn-group btn-group-toggle col-sm-5 col-lg-3" data-toggle="buttons">
            <label class="btn btn-secondary  {% if pacijent.is_active == 1 %} active{% endif %}">
                <input class="form-control" type="radio" name="is_active" id="prikaži" value="1"
                    {% if pacijent.is_active == 1 %} checked="checked" {% endif %}> Prijavi
            </label>
            <label class="btn btn-secondary  {% if pacijent.is_active == 0 %} active {% endif %}">
                <input class="form-control" type="radio" name="is_active" id="sakrij" value="0"
                    {% if pacijent.is_active == 0 %} checked="checked" {% endif %}> Odjavi
            </label>
        </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-5 mt-3 mx-auto">
        <button class="btn btn-success form-control mx-auto" type="submit">Potvrdi</button>
        </div>
        </div>
        <div class="alert alert-warning d-none mt-2" id="error-message"></div>
    </form>
</div>
{% endblock %}

{% block naslov %}
Izmena pacijenta
{% endblock %}

{% block script %}
<script src="{{BASE}}assets/js/validateForms.js"></script>
{% endblock %}