{% extends "_global/index.html" %}

{% block main %}
<a class="btn btn-outline-primary mb-3" href="{{ BASE }}pacijenti/dodaj">
  <i class="fa fa-plus-circle"></i> Dodaj novog pacijenta
</a>

{% for pacijent in pacijenti %}
<div class="accordion" id="accordionExample{{pacijent.pacijent_id}}">
  <div class="card">
    <div class="card-header bg-light" id="heading{{pacijent.pacijent_id}}">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse"
          data-target="#collapse{{pacijent.pacijent_id}}" aria-expanded="true"
          aria-controls="collapse{{pacijent.pacijent_id}}">
          {{ pacijent.ime|escape }} {{ pacijent.prezime|escape }}
        </button>
        {% if pacijent.is_active == 0 %}
        <i class="fa fa-ban float-right"></i>
        {% endif %}
      </h2>
    </div>

    <div id="collapse{{pacijent.pacijent_id}}" class="collapse" aria-labelledby="heading{{pacijent.pacijent_id}}"
      data-parent="#accordionExample{{pacijent.pacijent_id}}">
      <div class="card-body row">
        <div class="col-md-6 col-12">
          <p class="card-text">Adresa: {{ pacijent.adresa|escape }}</p>
          <p class="card-text">Datum rođenja: {{ pacijent.born_at|escape }}</p>
          <p class="card-text">Telefon: {{ pacijent.telefon|escape }}</p>
          <p class="card-text">Kategorija: {{ pacijent.kategorija|escape }}</p>
          <a class="btn btn-primary mb-2" href="{{ BASE }}pacijenti/izmeni/{{ pacijent.pacijent_id }}">
            <i class="fa fa-pencil"></i> Izmeni</a>
        </div>
        <div class="col-md-6 col-12">
          {% if pacijent.is_active == 1 %}
          <a class="btn btn-primary" href="{{ BASE }}karton/{{ pacijent.pacijent_id }}"><i class="fa fa-map"></i> Elektronski karton</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}

{% block naslov %}
Spisak pacijenata
{% endblock %}