{% extends "_global/index.html" %}

{% block main %}
    <div class="text-center">
        {{ message|escape }}
        <p>Kliknite <a href="{{ BASE }}pacijenti/izmeni/{{usluga_id}}">ovde</a> za povratak na izmenu pacijenta.</p>
    </div>
{% endblock %}

{% block naslov %}
Izmena pacijenta
{% endblock %}