{% extends "_global/index.html" %}

{% block main %}
    <div class="text-center">
        {{ message|escape }}
        <p>Kliknite <a href="{{ BASE }}pacijenti/dodaj">ovde</a> za povratak na dodavanje pacijenta.</p>
    </div>
{% endblock %}

{% block naslov %}
Dodatavanje pacijenta
{% endblock %}
