<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}Zubarska ordinacija{% endblock %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/style.css">
    </head>
    <body>
        <section class="container mx-auto mt-5">
            <header class="row" id="main-header">
                <div class="col col-12 text-center">
                    <img alt="Banner 1" src="{{ BASE }}assets/img/site/zub.png">
                </div>

            </header>

            <div class="container mx-auto">
                {% block main %}
                ...
                {% endblock %}
            </div>

            <footer class="text-center">
                &copy; 2019 PIiVT
            </footer>

        </section>

        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>
