{% extends "Login/index.html" %}

{% block main %}
    <div>
        <form method="post" >
            <div class="input-group mb-3 w-50 mx-auto" >

                <div class="input-group-prepend" >
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input id="username" type="text" class="form-control" name="username" placeholder="Username" pattern="[A-Za-z0-9]{3,}" required><br>
            </div>
            <div class="input-group mb-3 w-50 mx-auto" >

                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
             <input id="password" type="password" class="form-control" name="password" placeholder="Password" required><br>
            </div>
            <button class="btn btn-primary btn-block mb-3 w-50 mx-auto" type="submit">Log in</button>
        </form>
    </div>
{% endblock %}

{% block naslov %}
Logovanje
{% endblock %}
