{% extends "Login/index.html" %}

{% block main %}
    <div class="text-center">
        {{ message|escape }}
        <p>Kliknite <a href="{{ BASE }}korisnik/prijava">ovde</a> za povratak na prijavu.</p>
    </div>
{% endblock %}
{% block naslov %}
Login
{% endblock %}
