#main-header {
    margin-bottom: 30px;
}

.category-item {
    margin-bottom: 15px;
}

.category-item .card-body {
    min-height: 120px;
}

.navbar-brand img {
    width: 30px; 
    height: 30px;
}

svg{
    fill: white;
    stroke:cornsilk;
    stroke-width:20000;
    margin:0 3px;
}

.medical-green{
    background-color: rgb(153,223,178);
}

.thicker{
    stroke-width:40000;
}

svg:hover{
    fill: rgba(10,10,200,0.5) !important; 
}
svg:active{
    fill:rgb(17, 194, 1) !important;
}

input[type="radio"]:checked + svg {
    fill:rgb(17, 194, 1);
}

#trenutno{
    display: none;
}

@media only screen and (min-width: 1200px) {
    #zubi svg{
        width:100%;
        height:100%;
    }
    #zubi label{
        margin:3px 3px;
    }
}

@media only screen and (max-width: 992px) {
    #zubi svg{
        width:80%;
        height:80%;
    }
}
@media only screen and (max-width: 540px) {
    #zubi{
        padding-left: 0;
        padding-right: 0;
    }
        #zubi>div{
            padding-left: 0;
            padding-right: 0;
        }
}