{% extends "_global/index.html" %}

{% block main %}
<a class="btn btn-outline-secondary" href="{{ BASE }}pacijenti">
    <i class="fa fa-list"></i> Prikaži listu pacijenata
</a>
<div class="mt-2" >
    <h1>Pacijent: {{pacijent.ime}} {{pacijent.prezime}}</h1>
</div>
    
<div class="alert alert-success mt-2 d-{% if(success) %}block{% else %}none{% endif %}" id="success">{{success|escape}}</div>
<div class="card my-4">
    <div class="card-header h4">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#sema-zuba-tab">Šema zuba</a>
                {% if(paketi_kategorije) %}
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#paket-tab">Paket</a>
                {% endif %}
        </ul>
    </div>
    <div class="tab-content">
    <div class="card-body medical-green tab-pane in active" id="sema-zuba-tab">
      <div class="row ">
            <div class="col-md-8 col-12 row form-group mx-auto" id="zubi">
                <div class="col-12 d-flex justify-content-center align-items-end text-center">
                        <label>
                                <input type="radio" name="zub" value="18" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="27px" height="48px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1501831 2705348" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M751918 191082c0,246933 19954,421404 31251,621062 41750,738651 -310783,515051 -310783,279650 0,-478134 -7848,-364522 93623,-843629 67100,-316848 -127701,-157016 -243038,-20177 -103301,122563 -163398,258558 -210168,442121 -153673,603231 -21972,764834 -13502,1076767 4587,168606 -205288,461207 -14746,757678 95864,149121 155761,140206 325693,140206 124768,0 96263,-136030 282770,-69258 134915,48307 105530,97213 319335,120580 421991,46184 485008,-244610 485008,-517209 0,-206203 -128475,-121355 -124698,-589670 3554,-440842 -34113,-1540824 -558642,-1584486 -15109,31509 -62103,145309 -62103,186355l0 12z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="17" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="29px" height="50px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1684250 2938065" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M937948 294537c0,238400 18169,384411 35731,610099 51166,656610 -325370,515388 -325370,162235 0,-664801 317531,-1298600 -73589,-911418 -206474,204383 -308805,512617 -340537,819125 -24939,241026 -21098,502202 -38392,733991 -29460,395580 -191160,220499 -191160,774328 0,265721 316182,339395 550864,291912 353979,-71608 140529,158626 768652,158626 512386,0 319597,-779942 321651,-1061828 2929,-395240 -149426,-1825631 -643484,-1866721 -31441,65531 -64352,190018 -64352,289639l-12 12z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="16" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="31px" height="52px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1470972 2475609" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M507455 315221c0,-66546 -30266,-136513 -51866,-181557 -166178,111245 -311268,421409 -311268,700350 0,231491 77814,406275 77814,596597 0,150305 -175790,413965 -212188,593984 -41663,205898 131860,443551 341879,443551 371957,0 272454,-103733 415030,-103733 413531,0 700359,378513 700359,-285339 0,-185175 -107075,-265346 -200151,-474409 -135566,-304534 123223,-763475 -162559,-1419578 -44394,-101958 -55120,-170555 -182011,-181123 -102362,213351 -2327,807789 -149477,992629 -72787,91449 -250045,123470 -286384,-141876 -24726,-180473 20831,-340824 20831,-539476l-10 -20z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="15" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="22px" height="58px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1689964 4518093" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M850968 4511569c188926,0 911598,-289332 825504,-730494 -47838,-244876 -123121,-388338 -184502,-624145 -78665,-302619 -49990,-398346 -59639,-743201 -16652,-593437 -334659,-2407222 -804360,-2407222 -206414,0 -134666,356093 -133864,579791 5260,1499638 -443553,2636078 -485226,3263587 -19914,299716 83925,399866 259410,486097 114684,56377 415886,175604 582677,175604l0 -17z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="14" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="22px" height="58px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 826052 2245571" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub"
                                        d="M3200 1909127c0,429562 819661,451719 819661,22157 0,-123401 -106991,-351506 -147577,-472704 -24310,-72637 -124708,-1248360 -406249,-1454626 -197705,144829 -197051,1356029 -239732,1643301 -15020,100942 -26111,150743 -26111,261864l8 8z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="13" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="23px" height="70px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 911763 2868872" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub"
                                        d="M450524 2865539c108251,0 457907,-223500 457907,-526596 0,-327753 -184506,-341215 -227453,-917326 -21386,-287299 -156385,-1388992 -505201,-1418014 -17660,212094 -69826,512015 -68768,801264 2003,539357 43481,720050 -62951,1242079 -46568,228345 -98787,436512 125614,641547 43323,39588 222231,177045 280861,177045l-9 0z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="12" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="22px" height="64px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 977071 2931222" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub"
                                        d="M3763 2560066c0,419107 272755,365171 756396,365171 409715,0 109789,-872714 72208,-1037249 -52653,-230670 -20148,-444727 -56959,-699398 -36198,-250325 -51665,-426999 -99715,-656681 -26707,-127646 -96485,-485607 -254601,-527810 -198383,145335 -241327,1651500 -289881,1927050 -37156,210956 -127439,375986 -127439,628918l-10 0z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="11" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="27px" height="69px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 2320749 6030287" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M6943 5091401c0,1133464 363765,746343 1776528,913130 615472,72688 525790,-43387 525790,-721314 0,-686288 -222589,-950137 -240711,-1342166 -24538,-529370 46677,-1097711 -26174,-1604652 -99316,-690777 -239420,-2329474 -884302,-2329474 -362129,0 -680398,1911307 -716388,2401416 -34390,468643 -18122,987017 -126908,1408001 -111276,430963 -307854,780732 -307854,1275041l18 18z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="21" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="27px" height="69px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 2391460 6175249" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M12422 5442240c0,404797 -29233,354270 49425,691728 313773,73110 932615,6949 1385324,1980 989512,-10853 936687,-339569 936687,-891296 0,-484744 -182122,-895443 -303033,-1277956 -148985,-471444 -128195,-3453821 -882667,-3959055 -692307,161295 -792091,1573517 -910835,2399380 -159128,1107359 165311,959905 -177564,2292647 -55720,216660 -97337,467708 -97337,742554l0 19z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="22" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="22px" height="64px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1342897 4038446" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub"
                                        d="M5189 3499121c0,439328 75082,593106 658109,514546 514274,-69336 674424,12471 674424,-514546 0,-324728 -120387,-569863 -170623,-837820 -80611,-430144 -109411,-1513955 -251873,-2269167 -34546,-182999 -35388,-299759 -153778,-386497 -94889,25349 -93788,42574 -140656,111448 -43811,64364 -51350,88776 -81032,171044 -343067,951225 -251357,1900697 -346178,2318968 -66701,294325 -188406,552488 -188406,892009l14 14z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="23" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="23px" height="70px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1508713 4654723" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub"
                                        d="M5404 3825451c0,472825 578141,823883 711537,823883 250212,0 786382,-446514 786382,-861341 0,-266352 -137866,-576684 -149946,-861129 -14683,-344650 -37331,-608682 -37288,-973815 85,-678761 15617,-1398134 -112346,-1947291 -122913,10213 -137696,13184 -210363,89175 -528164,552127 -608923,2485569 -691860,2753393 -89614,289226 -296129,625162 -296129,977139l14 -14z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="24" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="22px" height="58px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1285986 3477490" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M4990 3006728c0,335960 389163,476958 646654,465104 921250,-42332 558859,-793245 560234,-1258100l-127193 -1528544c-34474,-210836 -74396,-517417 -182885,-679451 -273339,72968 -495059,1183429 -537666,1393977l-120474 845387c-58298,183422 -238669,562434 -238669,761626z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="25" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="22px" height="58px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1285995 3426279" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M631917 3421327c259417,0 649126,-114877 649126,-409974 0,-448747 -140380,-670560 -219837,-1112561 -36642,-203772 -55476,-417188 -81589,-601670 -99826,-705252 -74401,-567823 -74401,-1292169 -333220,0 -423765,327774 -540176,757999 -188759,697505 -164231,1419798 -217134,1627729 -42283,166207 -102204,293225 -137065,481957 -65770,356019 436243,548690 621089,548690l-13 0z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="26" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="31px" height="52px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 3306944 5491593" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M9649 4636635c0,445045 -64014,944521 685439,806562 336839,-61966 708810,-311834 1039898,-164248 298113,132819 872187,433197 1358528,-103720 494270,-545498 -32649,-1117242 -239697,-1765719 -204020,-638850 428470,-1416596 -123867,-2534447 -60746,-122996 -356049,-740305 -493791,-494139 -284587,508471 427643,1941794 -491068,1941794 -512435,0 -307457,-1869635 -520624,-2313961 -354742,29513 -467218,520232 -564295,939751 -396431,1712639 135977,1828796 -187271,2589465 -144515,340062 -463254,666599 -463254,1098685l0 -22z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="27" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="29px" height="50px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 2645548 4505661" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M1496668 4211624c283924,0 484824,88679 712881,22718 82480,-23841 205395,-92893 257105,-140857 447967,-415866 -115311,-956819 -172695,-1519929 -66711,-654710 50529,-1672922 -513441,-2306207 -32662,-36689 -188933,-162751 -229349,-176085 -331569,-109243 44461,633734 44461,1202219 0,253640 64445,791335 -247347,791335 -290554,0 -265383,-476471 -247553,-791503 28561,-504920 137467,-933128 -49181,-1285804 -399759,33243 -633154,769965 -736198,1093837 -322411,1013548 -197511,1594187 -295535,2425432 -120574,1022088 628172,1093069 1161840,864413 86526,-37045 276414,-179587 315032,-179587l-19 19z" />
                                </svg>
                            </label> 
                            <label>
                                <input type="radio" name="zub" value="28" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="27px" height="48px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1989477 3577128" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M5964 2931468c0,1094350 1143342,453183 1153563,453183 191147,0 82472,123607 370804,123607 299852,0 453183,-261066 453183,-576789 0,-408605 -158245,-343053 -95182,-794435 85838,-614449 38207,-1386658 -363010,-1878518 -90565,-110944 -129836,-165492 -324567,-169828 3647,164428 411876,1648006 -41213,1648006 -465939,0 7544,-1199550 -247151,-1730400 -909339,75664 -666994,2208783 -798771,2538359 -56693,141795 -107641,201321 -107641,386801l-16 16z" />
                                </svg>
                            </label>
                </div>
                <div class="col-12 d-flex justify-content-center align-items-start text-center">
                        <label>
                                <input type="radio" name="zub" value="48" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="28px" height="44px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 2846318 4454581" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M975831 138558c-275641,0 -528899,13620 -753216,203206 -508788,429907 43629,1315915 88120,1418381 78858,181392 89255,769764 122918,1012854 45059,325852 115722,597043 177147,898857 66578,327668 132452,614953 365031,770718 409159,-610936 -65238,-1887331 478279,-2032404l59791 836864c0,457804 -604443,1595437 154697,1055393 846806,-602469 862265,-1558868 858951,-2492660 -1839,-492398 651182,-1204438 67508,-1616548 -396198,-279795 -822314,-192401 -1209863,-59722 -321040,109866 -106120,5085 -409364,5085l0 -23z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="47" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="29px" height="50px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 3054790 5059570" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M1527441 312455c-532882,0 -1518703,-551893 -1518703,607504 0,358825 164724,709806 182887,1092733 39467,830064 -61918,204351 96202,1179555 72329,446128 106842,1272477 302135,1641828 116382,220129 150460,216758 451449,216758 248978,-1068768 47722,-566524 137320,-1259910 15342,-119043 65426,-462067 88175,-580100 50933,-264182 119455,-355293 138971,-589915 773879,64349 182244,1713217 182244,1943895 0,295462 -41118,425260 182244,425260 230380,0 535244,-497864 643233,-693226 193298,-349629 225151,-571271 279019,-1057440 44489,-401295 15571,-837517 50451,-1286031 40682,-524191 302984,-468671 302984,-1276422 0,-556846 -436726,-668207 -850451,-668207 -373387,0 -480504,303718 -668207,303718l46 0z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="46" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="32px" height="52px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 3687210 5910756" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M1095949 5636429c707906,-474034 440649,-2045677 794375,-2714185 508375,135729 595775,1032851 595775,1522609 0,318228 -376772,1456317 132434,1456317 398433,0 926733,-1375533 926733,-1919709 0,-990711 -132383,-1562712 -132383,-1985951 0,-353098 264741,-386231 264741,-1059192 0,-674898 -769745,-926733 -1456317,-926733 -339965,0 45964,272641 -856064,129314 -420572,-66770 -629236,-119225 -945200,121590 -802904,611801 -219305,1181864 3900,2539435 60279,366859 115879,627047 180310,1011266 56833,339185 100080,695780 139880,985378 61135,444800 56304,641991 351764,839887l50 -25z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="45" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="24px" height="62px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 620827 1606811" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub"
                                        d="M2270 222164c0,79475 74966,228955 100253,308108l111100 721360c20777,136404 -16512,288344 71368,352707 62379,-16661 70695,-46951 101337,-102826 26436,-48196 44581,-86969 65173,-139025 99270,-250923 62761,-516274 68342,-779814 4265,-201446 238867,-387959 -30237,-518019 -99859,-48250 -137202,-62385 -251733,-62385 -93813,0 -235602,129006 -235602,219888l0 6z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="44" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="23px" height="63px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 2562108 6911660" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M9629 878887c0,1698813 409950,1684838 520923,2356539 40462,244995 -2451,510410 32804,770189l193236 2215617c26562,217346 103922,450968 122978,680016 283738,-23554 373204,-166295 492138,-377778 117999,-209587 208501,-406539 288312,-648475 416420,-1261543 -9174,-1605102 499264,-3114167 154341,-458247 393194,-986727 393194,-1547328 0,-658028 -905474,-1723960 -2114779,-910302 -133718,89946 -428046,407802 -428046,575689l-25 0z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="43" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="21px" height="73px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1945969 6657633" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M8169 1143268c0,633769 110613,796462 307097,1338851 164451,453881 93182,2881046 87757,3601437 -2487,331904 -24807,420455 172684,565180 208276,-55639 233212,-134541 398328,-452959 778666,-1501458 354202,-2770133 620733,-3806304 173413,-674185 343032,-774464 343032,-1643503 0,-386728 -531797,-737800 -1021612,-737800 -467453,0 -908019,650129 -908019,1135099z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="42" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="21px" height="70px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 892542 2929058" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub"
                                        d="M3768 268408c0,685059 162270,697733 156273,1379508 -2308,260556 15377,1058826 130046,1275540 164134,-120242 342175,-868702 338387,-1197354 -10110,-879670 260310,-833747 260310,-1379597 0,-407084 -345873,-338367 -624746,-338367 -146222,0 -260280,114058 -260280,260280l10 -10z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="41" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="21px" height="71px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 849582 2886265" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub"
                                        d="M266041 2882274c282386,-75431 397066,-994491 404210,-1234600 24509,-822573 175668,-834573 175668,-1488362 0,-195918 -496342,-151275 -655510,-151275 -371518,0 -73911,601589 -75613,1336222 -683,304309 25970,514197 24595,807419 -683,149669 9057,644414 126650,730595z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="31" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="21px" height="71px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 625179 2114977" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub"
                                        d="M2695 114503c0,542420 121486,498734 128737,1091977 3014,246594 73491,618748 206678,829056 29162,46049 31001,60750 89982,76505 87641,-64224 92975,-411178 93102,-517255 396,-294652 20707,-877022 65058,-1155656 75762,-475946 68376,-435600 -380113,-435600 -80481,0 -203445,35430 -203445,110973z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="32" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="21px" height="70px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 881983 2866145" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub"
                                        d="M3693 339069c0,536294 263917,490509 254864,1324293 -3247,302123 158689,1071076 330947,1197278 179508,-339244 73738,-1436256 182871,-1854743 49818,-191090 282361,-997920 -157390,-997920 -272882,0 -611292,-67234 -611292,331093z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="33" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="21px" height="73px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 963086 3285700" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub"
                                        d="M4033 368539c0,644912 228135,449517 223414,1597222 -1493,363712 129385,950796 333957,1234579 54853,76087 47645,78501 170837,81253 116354,-499385 -55944,-1693104 75929,-2052836 126876,-346151 263903,-722195 963,-1049113 -318322,-395807 -805100,-29713 -805100,188906l0 -11z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="34" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="23px" height="63px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 850884 2262084" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub"
                                        d="M3191 375518c0,361900 223408,592083 219346,1006888 -2069,209773 23953,354429 69363,521865 21909,80795 47537,139170 92177,214404 46063,77613 66155,131641 166532,139999 38249,-164179 83484,-465869 88015,-656480 3518,-147755 22680,-217378 21935,-350342 -930,-167688 2504,-193081 52504,-319739 67738,-171448 147009,-380132 133090,-595751 -13526,-209363 -378198,-496673 -706035,-218081 -54857,46608 -136917,166096 -136917,257235l-8 0z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="35" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="24px" height="62px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1501567 3910213" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M5516 502332c0,423072 149192,448168 213608,741917 136110,620435 -210504,1375984 346830,2405051 75665,139633 114840,216135 280378,254689 175790,-262458 94624,-496614 145986,-847732l258935 -1728546c69658,-204049 244812,-577376 244812,-787143 0,-236553 -277172,-535067 -687927,-535067 -113121,0 -802637,149957 -802637,496830l14 0z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="36" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="32px" height="52px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 2547758 4069776" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M80083 2285411c0,661366 20137,981353 399002,1560829 91029,139254 125313,199665 330210,216669 284618,-424922 0,-487105 0,-1139384 0,-351689 155243,-771344 364649,-911579 271624,181903 140596,471891 233019,997548 50824,288800 151422,731845 359434,871134 200250,-134074 257270,-365337 273741,-683379l265600 -1694300c52270,-182591 235463,-598701 235463,-767196 0,-315512 -292139,-640816 -557050,-676495 -150992,-20343 -389467,51685 -557050,67932 -299609,29121 -188615,-120632 -526621,-120632 -785406,0 -1069094,526639 -788039,1153290 230937,514935 -32357,457932 -32357,1125546l0 17z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="37" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="29px" height="50px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1873981 3101012" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M5356 452151c0,268204 139668,441608 176610,642480 113804,618499 -66924,915420 207028,1505651 252854,544771 547146,548946 547146,271985 0,-153430 -387728,-1227481 74459,-1265926 54976,235887 142705,446345 150169,743407 5890,236013 -29154,745909 184917,745909 312651,0 305749,-860290 368892,-1157647 55313,-260725 15870,-423686 45207,-699410 23882,-224360 325204,-1121549 -190723,-1121549 -551265,0 -268499,74459 -558476,74459 -279730,0 -111836,-186154 -595685,-186154 -232626,0 -409545,217936 -409545,446795z" />
                                </svg>
                            </label>
                            <label>
                                <input type="radio" name="zub" value="38" hidden required />
                                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="28px" height="44px" version="1.1"
                                    style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                                    viewBox="0 0 1769040 2781479" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <path fill stroke class="zub "
                                        d="M5394 379454c0,331160 152484,366471 205591,654803 77587,421518 -127778,860932 295284,1425576 53461,71272 471751,462733 471751,239019 0,-465564 -277416,-327352 -74798,-1197076 183278,134276 130340,313095 151818,596315 15248,200735 20544,506496 110023,675573 216989,-145263 288884,-658951 347471,-961838 32564,-168299 44230,-404075 65000,-608378 38440,-377769 186110,-33003 186110,-749139 0,-509710 -651674,-312826 -823031,-371639 -214950,-73835 -99490,-77275 -411480,-77275 -235762,0 -523726,169842 -523726,374074l-14 -14z" />
                                </svg>
                            </label>
                </div>
            </div>
            <div class="col-md-4 col-12 form-group">
                    <label for="usluga">Izaberite uslugu</label>
                    <select class="custom-select" name="usluga" id="usluga" required oninvalid="this.setCustomValidity('Morate izabrati uslugu.')"
                    oninput="this.setCustomValidity('')">
                        <option value="" selected disabled hidden>Usluga</option>
                        {% for usluga in usluge %}
                        <option value="{{usluga.usluga_id|escape}}">{{usluga.naziv|escape}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <a href="#" class="btn btn-primary btn-block" onclick="addIntervencije({{pacijent.pacijent_id}}); return false">Dodaj</a>
                    <div class="alert alert-warning d-none mt-2" id="error-message-usluga"></div>
            </div>
        </div>
    </div>
    {% if(paketi_kategorije) %}
    <div class="card-body tab-pane fade" id="paket-tab">
        <div class="row">
            <label class="col-12" for="paket">Izaberite paket</label>
            <div class="col-md-6 col-12">
                <select class="custom-select" name="paket" id="paket" required oninvalid="this.setCustomValidity('Morate izabrati paket.')"
                oninput="this.setCustomValidity('')">
                    <option value="" selected disabled hidden>Paket</option>
                    {% for paket in paketi_kategorije %}
                    <option value="{{paket.paket_id|escape}}">{{paket.naziv|escape}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6 col-12">
                <a href="#" class="btn btn-primary btn-block" onclick="addPaket({{pacijent.pacijent_id}}); return false">Primeni</a>
                <div class="alert alert-warning d-none mt-2" id="error-message-paket"></div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
    </div>
  </div>
    <div class="alert alert-warning mt-2 d-{% if(failed) %}block{% else %}none{% endif %}" id="message">{{failed|escape}}</div>
    
  <div class="card my-4" id="trenutno">
      <div class="card-header h4" >
      Trenutne intervencije
    </div>
        <div class="card-body">
            <form class="form" method="post" action="{{BASE}}karton/{{pacijent.pacijent_id}}" id="zakljuci_intervenciju">
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-bordered table-striped text-center text-nowrap" id="trenutne-intervencije">
                        <thead>
                            <tr>
                                <th scope="col">Zub</th>
                                <th scope="col">Usluga/Paket</th>
                                <th scope="col">Cena</th>
                                <th scope="col">Ukloni</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">

                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <div class="float-right text-center">
                        <h4 class="d-inline align-middle mr-md-2">Suma: <span id="suma"></span> rsd</h4>
                        <!--<a href="#" class="btn btn-success mt-sm-2" onclick="zakljuciIntervenciju({{pacijent.pacijent_id}})"><i class="fa fa-check"></i> Zaključi intervenciju</a>-->
                        <button class="btn btn-success mt-sm-2" type="submit" form="zakljuci_intervenciju"><i class="fa fa-check"></i> Zaključi intervenciju</button>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
  <div class="card">
      <div class="card-header h4">
            Spisak svih intervencija
      </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 table-responsive">
                    <table class="table table-bordered table-striped text-center text-nowrap">
                        <thead>
                            <tr>
                                <th scope="col">Usluga/Paket</th>
                                <th scope="col">Zub</th>
                                <th scope="col">Datum</th>
                                <th scope="col">Vreme</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for intervencija in intervencije %}
                            <tr>
                                <td>{% if(intervencija.paket_id) %}{{intervencija.paket_id|escape}}{% else %}{{intervencija.usluga_id|escape}}{% endif %}</td>
                                <td>{{intervencija.zub|escape}}</td>
                                <td>{{intervencija.created_at|date('j. n. Y.') }}</td>
                                <td>{{intervencija.created_at|date('H:i') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      
{% endblock %}

{% block naslov %}
Elektronski karton
{% endblock %}

{% block script %}
<script src="{{BASE}}assets/js/intervencijaApi.js"></script>
<script src="{{BASE}}assets/js/validateForms.js"></script>
<script>
    window.addEventListener('load', function(){
        getIntervencije('{{ pacijent.pacijent_id }}');
    });
</script>
{% endblock %}