{% extends "_global/index.html" %}

{% block main %}
    <div class="text-center">
        {{ message|escape }}
        <p>Kliknite <a href="{{ BASE }}karton/{{pacijent_id}}">ovde</a> za povratak na karton ovog pacijenta.</p>
    </div>
{% endblock %}

{% block naslov %}
Elektronski karton
{% endblock %}