<!DOCTYPE html>
<html>
    <head>
        
        <title>
            {% block naslov %}Zubarska ordinacija{% endblock %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/libs/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ BASE }}assets/css/style.css">
    </head>
    <body>
        <header id="main-header">

                <nav class="navbar navbar-expand-lg navbar-light bg-light col col-12 nav-fill nav-pills">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="{{ BASE }}/index.html">
                        <img src="{{ BASE }}assets/img/site/zub.png" alt="zub.png">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto w-100 nav-fill nav-pills">
                            <li class="nav-item"><a class="nav-link" href="{{ BASE }}usluge"><i class="fa fa-list"></i> Usluge</a>
                            <li class="nav-item"><a class="nav-link" href="{{ BASE }}pacijenti"><i class="fa fa-user"></i> Pacijenti</a>
                            <li class="nav-item"><a class="nav-link" href="{{ BASE }}korisnik/odjava"><i class="fa fa-sign-out"></i> Odjava</a>
                        </ul>
                    </div>
                </nav>
            </header>
            <section class="container">

            <div>
                {% block main %}
                ...
                {% endblock %}
            </div>
                

            <footer class="text-center">
                &copy; 2019 PIiVT Zubarska ordinacija
            </footer>
        </section>

        <script src="{{ BASE }}assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="{{ BASE }}assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        {% block script %}
                
        {% endblock %}
    </body>
</html>
